<div>
  <app-monitor style="display: inline-block; margin: 0 20px 20px 0" [monitorIndex]="0"></app-monitor>
  <app-monitor style="display: inline-block; margin: 0 20px 20px 0" [monitorIndex]="1"></app-monitor>
  <app-monitor style="display: inline-block; margin: 0 20px 20px 0" [monitorIndex]="2"></app-monitor>
</div>

<div>
  <app-monitor style="display: inline-block; margin: 0 20px 20px 0" [monitorIndex]="3"></app-monitor>
  <app-monitor style="display: inline-block; margin: 0 20px 20px 0" [monitorIndex]="4"></app-monitor>
  <app-monitor style="display: inline-block; margin: 0 20px 20px 0" [monitorIndex]="5"></app-monitor>
</div>
