@import "src/styles";

$header-height: 120px;

.header-wrapper {
  background-color: $header-color;
  height: $header-height;
}

.logo {
  height: 90px;
  padding: 15px 0 0 15px;
  position: absolute;
}

.center {
  height: $header-height;
  line-height: $header-height;
  text-align: center;
}

.title {
  color: #cc1132;
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;

  small {
    color: #566573;
    font-size: 12px;
  }
}

.settings {
  display: block;
  font-size: 24px;
  height: $header-height;
  line-height: $header-height;
  margin-right: 30px;
  position: absolute;
  right: 0;
  top: 0;

  & a {
    color: white;
    text-decoration: none;
    transition: color 0.2s;

    & i {
      margin-right: 5px;
    }

    &:visited {
      color: white;
    }

    &:hover {
      color: $color-pending;
    }
  }

}

.animate-link {
  & i {
    &:before {
      transition: transform 0.5s;
    }
  }

  &:hover {
    & i::before {
      transform: rotateZ(120deg);
    }
  }
}
