.notification-wrapper {
  bottom: 10px;
  position: absolute;
  right: 10px;
  width: 20%;
}

.notification {
  background-color: #566573;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  display: flex;
  margin-top: 10px;
}

.notification-info {
  background-color: #566573;
}

.notification-success {
  background-color: #1e8449;
}

.notification-error {
  background-color: #cc1132;
}

.notification-title {
  align-items: center;
  border-right: 2px solid white;
  display: flex;
  padding: 5px;

  span {
    text-align: center;
  }
}

.notification-text {
  display: inline-block;
  padding: 5px;

  p {
    display: inline;
    line-break: auto;
  }
}
