<div class="layout-wrapper">
  <app-header></app-header>

  <div class="user-info">
    <div class="user-title">
      <em class="bi bi-person-circle"></em>
      <span> Ich </span>
    </div>
    <p> Desktop: {{ control.me.name }} </p>
    <p> IP: {{ control.me.ip }} </p>

    <select class="spec-select" (change)="setMe($event.target)" [value]="control.me.name">
      <option *ngFor="let d of control.desktops" [value]="d.name"> {{ d.name }} </option>
    </select>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<app-notificator></app-notificator>
