<div class="layout-wrapper">
  <app-header></app-header>
  <div class="content-wrapper">
    <div class="content">
      <router-outlet></router-outlet>

      <!--
      <span> Hello world </span>
      <i class="bi bi-power"></i>
      <i class="bi bi-displayport"></i>
      <i class="bi bi-hdmi"></i>

      <i class="bi bi-gear"></i>

      <p>
        <span> Display off: <i class="bi bi-display"></i> </span>
        <span> Display on: <i class="bi bi-display-fill"></i> </span>
      </p>
      -->

    </div>
  </div>
</div>
