<div [ngClass]="['monitor', borderClass]">
  <div class="monitor-content-wrapper"></div>

  <div *ngIf="selectionMode" class="monitor-content-wrapper multiselect-wrapper" (click)="selected = !selected">
    <div [ngClass]="{'multiselect-control': true, 'multiselect-selected': selected}">
      <p> {{ monitor.name }} </p>
      <p> <i class="multiselect-tick bi bi-check-lg"></i> </p> <!-- <i> tag muss bleiben! -->
      <p class="faded">
        {{ sourceName(monitor.source) }} •
        {{ monitor.desktop }} •

        <!-- Video-Wall mode -->
        <span *ngIf="monitor.videowall" class="videowall bi bi-grid-1x2"></span>
        <span *ngIf="!monitor.videowall" class="bi bi-grid"></span>
      </p>
    </div>
  </div>

  <div *ngIf="isPending" class="monitor-content-wrapper loading-wrapper">
    <mat-spinner class="loading-spinner" [diameter]="20"></mat-spinner>
  </div>

  <div class="monitor-content">
    <div class="monitor-header">
      <span class="monitor-name"> {{ monitor.name }} </span>

      <span *ngIf="power === 1" class="bi bi-display-fill" title="Der Monitor ist an"></span>
      <span *ngIf="power === 0" class="bi bi-display" title="Der Monitor ist aus"></span>
      <span *ngIf="power === 'pending'" class="bi bi-cast" title="Der Monitor verarbeitet einen Befehl"></span>

      <span *ngIf="monitor.desktop === control.me.name" class="monitor-me bi bi-person" title="Ich bin der Quell-Desktop"></span>

      <button class="monitor-power-toggle spec-button" [title]="powerToggleTitle" (click)="togglePower()"> <i class="bi bi-power"></i> </button> <!-- <i> tag muss bleiben! -->
    </div>

    <div class="monitor-spec" title="Eingangs-PC">
      <label> <span class="bi bi-pc-display-horizontal"></span> </label>
      <select class="spec-select" [disabled]="controlDisabled" [value]="desktop" (change)="selectDesktop($event.target)" #desktopSelect>
        <option *ngFor="let d of control.desktops" [value]="d.name" [selected]="desktop === d.name"> {{ d.name }} </option>
      </select>
      <button class="spec-button spec-button-large" title="Mich als Eingang setzen" [disabled]="controlDisabled" (click)="selectMe(desktopSelect)"> <span class="bi bi-person-circle"></span> </button>
    </div>

    <div class="monitor-spec" title="Quelle">
      <label> <span class="bi bi-hdmi"></span> </label>
      <select class="spec-select" [disabled]="controlDisabled" [value]="source" (change)="selectSource($event.target)">
        <option *ngFor="let s of Sources" [value]="s.id" [selected]="s.id === source"> {{ s.name }} </option>
      </select>
    </div>

    <div class="monitor-spec">
      <label> <span class="videowall bi bi-grid-1x2"></span> </label>
      <mat-slide-toggle [disabled]="controlDisabled" [checked]="videowall" (change)="toggleVideoWall(videowallSlider)" #videowallSlider></mat-slide-toggle>
      <span style="margin-left: 5px"> Videowand </span>
    </div>
  </div>
</div>
