<div *ngIf="!loading" class="settings-wrapper">
  <table class="settings-table">
    <caption> Desktop-Einstellungen </caption>
    <thead>
      <th scope="col"> Index </th>
      <th scope="col"> Input </th>
      <th scope="col"> Name </th>
      <th scope="col"> </th>
    </thead>
    <tbody>
      <tr *ngFor="let desktop of control.desktops; index as i">
        <td> {{ i + 1 }} </td>
        <td> {{ desktop.input }} </td>
        <td> {{ desktop.name }} </td>
        <td> {{ isMe(desktop) ? '(Ich)' : '' }} </td>
      </tr>
    </tbody>
  </table>

  <span class="spacer"></span>

  <table *ngIf="devices" class="settings-table">
    <caption> Devices </caption>
    <thead>
    <th scope="col"> Index </th>
    <th scope="col"> Type </th>
    <th scope="col"> ID </th>
    <th scope="col"> IP </th>
    <th scope="col"> Name </th>
    <th scope="col"> Source </th>
    </thead>
    <tbody>
    <tr *ngFor="let d of devices; index as i">
      <td> {{ i + 1 }} </td>
      <td> {{ d[1].type }} </td>
      <td> {{ d[0] }} </td>
      <td> {{ d[1].ip }} </td>
      <td> {{ d[1].name }} </td>
      <td> {{ d[1].source }} </td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="loading" class="load-wrapper">
  <mat-spinner diameter="40" color="accent"></mat-spinner>
</div>

<button *ngIf="!loading" class="x-button" [disabled]="loading" (click)="fetchConfig()"> <span class="bi bi-arrow-clockwise"></span> Reload Config </button>
