<div class="settings-wrapper">
  <table>
    <caption> Monitor-Einstellungen </caption>
    <thead>
      <th scope="col"> Index </th>
      <th scope="col"> IP </th>
      <th scope="col"> Name </th>
    </thead>
    <tbody>
      <tr *ngFor="let monitor of control.monitors; index as i">
        <td> {{ i + 1 }} </td>
        <td> {{ monitor.ip }} </td>
        <td> {{ monitor.name }} </td>
      </tr>
    </tbody>
  </table>

  <table>
    <caption> Desktop-Einstellungen </caption>
    <thead>
      <th scope="col"> Index </th>
      <th scope="col"> IP </th>
      <th scope="col"> Name </th>
      <th scope="col"> </th>
    </thead>
    <tbody>
      <tr *ngFor="let desktop of control.desktops; index as i">
        <td> {{ i + 1 }} </td>
        <td> {{ desktop.ip }} </td>
        <td> {{ desktop.name }} </td>
        <td> {{ isMe(desktop) ? '(Ich)' : '' }} </td>
      </tr>
    </tbody>
  </table>
</div>
